<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Collarchive</title>
</head>
<body>
    <header><h1 id="formTitle">Edit <%= collection.name %></h1></header>
    <nav>
        <form class="navBar" action="/collection">
            <input class="navi" type="submit" value="HOME" />
          </form>
          <form class="navBar" action="/collection/<%= collection.id %>">
            <input class="navi" type="submit" value="BACK" />
          </form>
    </nav>
    <div class="formContainer">
    <form action="/collection/<%= index %>?_method=PUT" method="POST">
        <label for="name">TITLE:</label>
        <input type="text" name="name" placeholder="Game Title" value="<%= collection.name %>" required/>
        <br />
        <label for="img">IMAGE LINK:</label>
        <input type="text" name="img" placeholder="Link to Boxart Image" value="<%= collection.img %>"/>
        <br />
        <label for="platform">PLATFORM:</label>
        <input type="text" name="platform" placeholder="Platform" value="<%= collection.platform %>" required/>
        <br />
        <label for="qty">QUANTITY OWNED:</label>
        <input type="number" name="qty" placeholder="Enter a Number" value="<%= collection.qty %>"/>
        <br />
        <label for="description">DESCRIPTION:</label>
        <textarea name="description" id="description" cols="30" rows="10" placeholder="Description of Game"><%= collection.description %></textarea>
        <br />
        <input class="navi" type="submit" value="Submit Changes" />
    </form>
</div>
</body>
</html>